* {
  margin: 0;
  padding: 0;
  background-color: #abbcc7;
}

.main {
  padding: 30px;
  margin: 30px;
  background-color: rgb(46, 42, 42);
  display: flex;
  justify-content: space-evenly;
  height: auto;
}

.link {
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(46, 42, 42);

  width: 300px;
  margin-left: 60px;
  margin-right: 60px;
}
.link p {
  color: rgb(211, 196, 196);
  background-color: rgb(46, 42, 42);
  font-size: 14px;
}
.button {
  background-color: #0085a6;
  width: 120px;
  height: 25px;
  border: none;
  border-radius: 20px;
}
.button button {
  background-color: #0085a6;
  width: 120px;
  height: 25px;
  border: none;
  border-radius: 20px;
  color: white;
}

.logo {
  color: white;
  background-color: rgb(46, 42, 42);
  font-weight: 700;
}
